.Attract{
    text-align: center;
   background-color: #F2C649;
   background: linear-gradient(90deg, rgb(212, 137, 34) 0%, rgb(229, 181, 85) 35%, rgb(255, 184, 85) 100%);
 
}

.header h1 {
    font-family: "Kingdom_Hearts_Font";
    font-size: 100px;
    
}
.at {
    background-color:goldenrod ;
    color: lightyellow;
    font-size: 1.3rem;
    border-radius: 5px;
    max-width: 30%;
    min-width: 285px;
    margin: 20px 0px;
    padding: 8px;
    border-style: solid;
}


 img{
    border-radius: 5px;
    height:400px;
    width: auto;
    object-fit: cover;
    margin: 20px 0px;
}
.Gizmo, .Mag{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
